<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.educonsult"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AnimActivityTheme" >
        <meta-data
            android:name="apkplug-auth"
            android:value="l0eaXdl4BhLz00G7a+4B+lK3SRjvcGXDb1TRxJvsHHl0EdNvEoeqcu86G5okb+01diFI+3IFHtjB1v13rGFejfejfFtLsNBB2xjX7KmrNDzN2IjMVubvkYIdXRtmGdLNbSdl5dvkFvR6hAmxSNtPdUj3LXtJgQoe5dsE4eMmF+8=" >
        </meta-data>
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="xunbowangluo#zgslsc" />

        <activity
            android:name=".activitys.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExampleActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.HomePagerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.SearchHomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.MyCenterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.GqTwoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.RegistActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.ProductDetaileActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.ServiceCenterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.AboutActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.AddressActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.AddressGLActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.ShopcartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.QianBaoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.MyInfoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.XinjianActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.OrderActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.UpAddressActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.SearchResultActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.MyOrderActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.GqHomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.ZhanhuiHomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.ZhanhuiDetaileActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.KnowHomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.RegistOKActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.unionpay.uppay.PayActivity" >
        </activity>
        <activity
            android:name="org.apkplug.app.apkplugActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/android:Theme.Light" />

        <service android:name="com.easemob.chat.EMChatService" >
            <intent-filter>
                <action android:name="com.easemob.chat.EMChatService" />
            </intent-filter>
        </service>

        <activity
            android:name=".activitys.MoneyQueryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.MoneyQueryInfoActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name=".activitys.MoneyWithdrawalActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name=".activitys.CouponsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activitys.ProductDetaileMoreActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".activitys.XinJianInfoActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>